@model IEnumerable<ProjetoPCRH.Models.Relatorio>

@{
    ViewData["Title"] = "Relatorios";
}


<h1>Lista de Relatórios</h1>

<br />
<p>
    <a asp-action="Create" class="btn btn-success">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projeto)
            </th>
            <th>
                Horas Previstas
            </th>
            <th>
                Horas Gastas
            </th>
            <th>
                Valor Orçamentado
            </th>
            <th>
                Gastos Reais
            </th>
            <th>
                Desempenho da equipa
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            
                var DesempenhoEquipa = (item.TempoTotalHoras * 100) / item.Projeto.Orcamento;
                var Percent = Math.Abs(DesempenhoEquipa);
                var HorasPrevistas = (item.Projeto.DataFim - item.Projeto.DataInicio).TotalDays;
                var HorasGastas = (@item.Projeto.DataFim - @item.DataRelatorio).TotalDays;

               
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Projeto.NomeProjeto)
            </td>
            <td>
                @HorasPrevistas
            </td>
            <td>
                @HorasGastas
            </td>
            <td>
                @item.Projeto.Orcamento
            </td>
            <td>
                @item.TempoTotalHoras
            </td>
            <td>
                @if(item.TempoTotalHoras > item.Projeto.Orcamento)
                {

                        <p class="text-danger">@Percent.ToString("F2") %</p>
                        /// Exibir uma delas a verde a outra a vermelho
                }
                else
                {
                        <p class="text-success">@Percent.ToString("F2") %</p>
                }
    
            </td>
                
        </tr>
}
    </tbody>
</table>
