@model IEnumerable<ProjetoPCRH.Models.Relatorio>

@{
    ViewData["Title"] = "Relatorios";
}

<h1>Lista de Relatórios</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataRelatorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoTotalHoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataRelatorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoTotalHoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projeto.NomeProjeto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RelatorioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.RelatorioId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.RelatorioId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
