@model IEnumerable<ProjetoPCRH.Models.Relatorio>
@{
    ViewData["Title"] = "Meus Relatórios";
}
<h2>Meus Relatórios</h2>

@if (!Model.Any()) @*Verifica se há relatórios*@
{
    <p>Não tens relatórios disponíveis</p>
}
else
{
    <table class="table table-striped">
        <thead> @*Cabeçalho da tabela*@
            <tr>
                <th>Projeto</th>
                <th>Horas Previstas</th>
                <th>Horas Gastas</th>
                <th>Valor Orçamentado</th>
                <th>Gastos Reais</th>
                <th>Desempenho da equipa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {  @*Imprime os dados da tabela*@
                var HorasPrevistas = (item.Projeto.DataFim - item.Projeto.DataInicio).TotalHours;
                var DesempenhoEquipa = (item.TempoTotalHoras * 100) / HorasPrevistas;
                var Percent = Math.Abs(DesempenhoEquipa);
            <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Projeto.NomeProjeto)
                    </td>
                    <td>
                        @HorasPrevistas
                    </td>
                    <td>
                        @item.TempoTotalHoras
                    </td>
                    <td>
                        @item.Projeto.Orcamento
                    </td>
                    <td>
                        @item.Valor
                    </td>
                    <td>
                        @if (item.TempoTotalHoras > HorasPrevistas) @*Se o desempenho for positivo fica verde, se for negativo vermelho*@
                        {

                            <p class="text-danger">@Percent.ToString("F2") %</p>
                            /// Exibir uma delas a verde a outra a vermelho
                        }
                        else
                        {
                            <p class="text-success">@Percent.ToString("F2") %</p>
                        }

                    </td>
            </tr>

            }
        </tbody>
    </table>
}