@model IEnumerable<ProjetoPCRH.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<h1>Lista de Contratos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projeto.NomeProjeto)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContratoId" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ContratoId" class="btn btn-secondary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContratoId" class="btn btn-danger">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
