@model ProjetoPCRH.Models.Utilizador

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Utilizador</h1>

<h3>Tem a certeza que deseja eliminar este utilizador?</h3> @*Aqui aparecem os dados para o utilizador ver antes de eliminar*@
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @*Botões*@
        <input type="hidden" asp-for="UtilizadorId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Voltar à lista</a>
    </form>
</div>

