@model IEnumerable<ProjetoPCRH.Models.Utilizador>

@{
    ViewData["Title"] = "Utilizadores";
}

<h1>Utilizadores</h1>
<br />
<p>
    <a asp-action="Create" class="btn btn-success">Criar</a>

</p>
<table class="table">
    @*Imprime o cabecalho da tabela*@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) { @*Imprime os dados da tabela*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                *******
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UtilizadorId" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.UtilizadorId" class="btn btn-secondary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.UtilizadorId" class="btn btn-danger">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
