@model ProjetoPCRH.Models.Faturacao

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que deseja eliminar este item?</h3> @*Aqui aparecem os dados para o utilizador ver antes de eliminar*@
    <h4>Faturacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrato.ContratoId)
        </dd>
    </dl>

<form asp-action="Delete">
    @*Botões*@
        <input type="hidden" asp-for="FaturaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Voltar à lista</a>
    </form>
</div>
