@model IEnumerable<ProjetoPCRH.Models.Funcionario>

@{
    ViewData["Title"] = "Funcionários";
}

<h1>Lista de Funcionários</h1>

<br />
<p>
    <a asp-action="Create" class="btn btn-success">Criar</a>
</p>
<table class="table">
    @*Imprime o cabecalho da tabela*@
    <thead>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAdmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) { @*Imprime os dados da tabela*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FuncionarioId" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.FuncionarioId" class="btn btn-secondary">Detalhes</a> 
                   
                </td>
        </tr>
}
    </tbody>
</table>
