@model IEnumerable<ProjetoPCRH.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Lista de Clientes</h1>
<br />
<p>
    <a asp-action="Create" class="btn btn-success">Criar</a>
</p>
<table class="table"> @*Imprime o cabecalho da tabela*@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) { @*Imprime os dados da tabela*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td> @*Botões*@
                    <a asp-action="Edit" asp-route-id="@item.ClienteId" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ClienteId" class="btn btn-secondary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClienteId" class="btn btn-danger">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
